* {
    font-family: Georgia, 'Times New Roman', Times, serif
}

body {
    background-color: rgb(98, 105, 105);
    color:rgb(78, 33, 99)
}

.pulledpork {
    background-color: bisque;
    color: indigo ;
}

.pulledpork .header {
    color:brown;
}

.macaroni-salad {
    background-color: darkolivegreen;
    color: rgb(255, 255, 255);
}

.macaroni-salad .header {
    color:burlywood;
}
.july {
    background-color: rgb(19, 38, 66);
    color: white;
}

.july .header {
    color: red;
}